*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
}
body {
    /*padding: 50px 20px;*/
    /*margin: 0 auto;*/
    /*max-width: 800px;*/
}
output {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /*margin: 30px 0;*/
    width: 100%;
}
.u-left {
    float: left;
}
.u-cf:before,
.u-cf:after {
    content: "";
    display: table;
}
.u-cf:after {
    clear: both;
}
.u-text-left {
    text-align: left;
}